
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Timetable Scheduler
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
    </head>
    <body>
        <div class="main" >
                <div class="logo">
                    <h2>_ADROIT_SCHEDULER_</h2>
                    <h4> Smart Ai makes this <strong>*Magic</strong> happen </h4>
                </div>
                <nav>
                	<ul>
                	<li><a href="{% url 'home' %}">Home</a></li>
                	  <li><a href="{% url 'addinstructor' %}">Add Instructor</a></li>
                	  <li><a href="{% url 'addroom' %}">Add Room </a></li>
                	  <li><a href="{% url 'addmeetingtime' %}">Add Meeting time</a></li>
                	  <li><a href="{% url 'addcourse' %}">Add Course</a></li>
                	  <li><a href="{% url 'adddepartment' %}">Add department</a></li>
                      <li><a href="{% url 'addsection' %}">Add Section</a></li>
                	</ul>
                </nav>
            {% block content %}


            {% endblock %}

         </div>

	    <script type="text/javascript">

        var checkList = document.getElementById('list1');
        var items = document.getElementById('items');
        checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
            if (items.classList.contains('visible')){
                items.classList.remove('visible');
                items.style.display = "none";
            }

            else{
                items.classList.add('visible');
                items.style.display = "block";
            }


        }

        items.onblur = function(evt) {
            items.classList.remove('visible');
        }
    </script>

    </body>
</html>