<!DOCTYPE html>
<html>
  <head>

    <title>timetable</title>
    
    <link rel="stylesheet" type="text/css" href="tbl.css">
  </head>
  <body>
    <div class="main" >
                <div class="logo">
                    <h2>TIME_TABLE_SCHEDULER_</h2>
                    <h4> Smart Ai make this <strong>*Magic</strong> happen </h4>
                </div>
                <nav>
                  <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="adins.html">Add Instructor</a></li>
                    <li><a href="addrm.html">Add Room </a></li>
                    <li><a href="addmt.html">Add Meeting time</a></li>
                    <li><a href="adcrs.html">Add Course</a></li>
                    <li><a href="addep.html">Add department</a></li>
                  </ul>
                </nav>
                    <table>
                          <colgroup>
                            <col >
                            <col >
                            <col>
                            <col>
                            <col >
                            <col>
                          </colgroup>
                          <tr>
                            <td>&nbsp;</td>
                            <th>Mon</th>
                            <th>Tues</th>
                            <th>Wed</th>
                            <th>Thurs</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                          </tr>
                          <tr>
                            <th>9:10 am</th>
                            <td>English</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>English</td>
                            <td>German</td>
                            <td>Dutch</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <th>10:11 am</th>
                            <td>English</td>
                            <td>English</td>
                            <td>&nbsp;</td>
                            <td>German</td>
                            <td>Dutch</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <th>11:12 am</th>
                            <td>&nbsp;</td>
                            <td>German</td>
                            <td>&nbsp;</td>
                            <td>German</td>
                            <td>Dutch</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <th>12:1 pm</th>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>Dutch</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <th>1:2 pm</th>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>Dutch</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <th>2:3 pm</th>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>Dutch</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <th>3:4 pm</th>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>Dutch</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <th>4:5 pm</th>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>&nbsp;</td>
                            <td>English</td>
                            <td>Dutch</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                  </div>



  </body>
</html>